.nav-p{
    padding-left: 25px;
    color: #FFFFFF;
    
}
.tittle-fg{
    color: #FFFFFF;
}
a{
    text-decoration: none;
    color: #000000;
    
}
.nav-p-color{
    padding-left: 20px;
    color: red;
    background-color: #000000;
    font-size: 18px;
}
.nav-cart{
    position: relative;
    top:20px;
    left: 205%;

}
.menu-list{
    padding: 5px;
    font-size: 15px;
color: #FFFFFF !important;    
    background-color: #000000;
    position: relative;
    left: 15%;
    bottom: 25px;
   border-radius: 3px;
   border-color:#FFFFFF;
   border-width: 0.1px;
    
}
.tittle-cell{
    color: red;
}
.bienvenido{
    font-size: 3rem;
    text-align: center;
}
.card-body{
    align-items: center;
    
}
.titulo{
    text-align: center;
}
.card{
    margin: 20px;
    
    background-color: #FF0000;
    width: 20rem;
    border-radius: 20px;
   

    
}
.ver-detalle{
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.detalle{
    padding: 5px 40px;
    color: white;
    background-color: black;
    border-radius: 20px;
}
.card-detail{
    text-align: center;
    align-items: center;
    background-color: #FF0000;
    width: 20rem;
    border-radius: 10px;
 
   
 
}
.detail-precio{
    background-color: black;
    color: white;
    width: 10rem;
    border-radius: 25px;
    margin-left: 25%;
}

.calculadora{
    margin: 10px;
    padding: 6px;
    color: white;
    background-color: black;
}
.agregar{
    color: white;
    background-color: black;
    padding: 8px;
    
}


.nav-bar{
    width: 50rem;
    display: flex;
    align-items: center;
    position: relative;
    left: 5%;
    bottom: 20px;
    font-size: 20px;
    background-color: #000000;
   

}
.menu-nav{
    display: flex; 
    
}



.input{
    
    position: relative;
    top:20px;
    left: 200%;
    border-radius: 20px;
    padding: 5px;
}
.flex-app{
justify-content: space-around;
background-color: #000000;
}
.flex{
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
    margin-left:8rem ;
    margin-right: 8rem;
  
}
.body-html{
    background-color: #000000;
}
.total-quantity{
    color: #FFFFFF;
}
.cart{
    color: #FFFFFF;
    text-align: center;
}
.icon-cart{
    color: #FFFFFF;
    position: relative;
    top: 5px;
}
div:where(.swal2-container) div:where(.swal2-popup)
{   
    font-size: 15px;
    width: 20rem;
    color: #FFFFFF;    
}

 
  .cart-item {
    border: 1px solid #f30808;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    margin: 10px 250px;
  }
  
  
  .cart-item p {
    display: inline-block;
    padding: 0 20px;
  }
  .button-cart{
    background-color: red;
    padding: 10px;
    border-radius: 10px;
  }
  .form{
    text-align: center;
    border: 1px solid #fff7f7;
    border-radius: 10px;
    padding: 10px;
    margin: 50px 25%;
  }
  .form input, button {
    margin: 0 10px;
    padding: 5px;
    border-radius: 5px;
  }